.health-app-top-bar{
    display: inline-flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin: 20px 50px 0;
    padding: 30px;
}

.calories-section{
    margin: 20px 50px 20px 50px;
}

.calories-overview{
    display: inline-flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 30px 30px 0 30px;
}
.calories-distribution{
    width: -webkit-fill-available;
    padding: 30px;
}

.health-app-top-bar, .calories-section{
    box-shadow: -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.calorie-ingre{
    width: 50%;
    display: block;
}

.add-food-btn{
    height: fit-content;
    cursor: pointer;
    border-radius: 20px;
    padding: 20px;
    border: none;
    box-shadow: -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px rgba(0,0,0,0.2);;
}

.row{
    display: inline-flex;
    width: -webkit-fill-available;
}

.total-calories{
    display: inline-flex;
    align-items: center;
}

.radial-progress-bar{
    margin-right: 2rem;
}

.total-days{
    text-transform: uppercase;
    font-weight: 500;
}